In [1]:
try:
    import pandas
    import mysql.connector
except ImportError:
    !pip install pandas
    !pip install mysql-connector-python
import mysql.connector
import pandas as pd

In [2]:
# Établir la connexion à la base de données
connexion = mysql.connector.connect(
    host="localhost", user="root", password="40363933", database="music_store"
)
if connexion.is_connected():
    print("Connexion réussie à la base de données MySQL")
    # Par exemple :
    curseur = connexion.cursor()
    curseur.execute("SHOW TABLES")
    print("Chargement des données MySQL")
    datas = {
        table[0]: pd.read_sql_query(f"SELECT * FROM {table[0]}", connexion)
        for table in curseur.fetchall()
    }
    # Fermer la connexion une fois que vous avez terminé
    connexion.close()
    print("Connexion à la base de données MySQL fermée")
else:
    print("Échec de la connexion à la base de données MySQL")

Connexion réussie à la base de données MySQL
Chargement des données MySQL
Connexion à la base de données MySQL fermée

C:\Users\yaoko\AppData\Local\Temp\ipykernel_4804\5173280.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  table[0]: pd.read_sql_query(f"SELECT * FROM {table[0]}", connexion)

In [3]:
# 1. Who is the oldest employee (highest level) based on job title?
datas["employees"].sort_values(["levels"], ascending=False).iloc[0, [3, 1, 2]]

title         Senior General Manager
last_name                      Madan
first_name                     Mohan
Name: 8, dtype: object

In [4]:
# 2. Which countries have the highest number of invoices?
datas["invoices"].groupby(["billing_country"]).agg(
    nb_invoices=("invoice_id", "count")
).sort_values("nb_invoices", ascending=False).reset_index()

   billing_country  nb_invoices
0              USA          131
1           Canada           76
2           Brazil           61
3           France           50
4          Germany           41
5   Czech Republic           30
6         Portugal           29
7   United Kingdom           28
8            India           21
9            Chile           13
10         Ireland           13
11           Spain           11
12         Finland           11
13     Netherlands           10
14          Sweden           10
15          Poland           10
16         Hungary           10
17       Australia           10
18         Denmark           10
19          Norway            9
20           Italy            9
21         Austria            9
22         Belgium            7
23       Argentina            5

In [5]:
# 3. What are the top 3 highest values of total invoices?
datas["invoices"].drop_duplicates(["total"]).sort_values("total", ascending=False)[
    "total"
].iloc[:3]

182    23.76
30     19.80
275    18.81
Name: total, dtype: float64

In [6]:
# 4. Which city has the best customers?
# We would like to organize a promotional music festival in the city where we generated the most revenue.
# Write a query that returns a single city having the highest sum of all invoice totals.
# Return both the city name and the sum of all invoice totals.
datas["invoices"].groupby("billing_city").agg(
    invoices_total=("total", "sum")
).sort_values("invoices_total", ascending=False).reset_index().iloc[0, :]

billing_city      Prague
invoices_total    273.24
Name: 0, dtype: object

In [7]:
# 5. Who is the top customer?
# The customer who spent the most money will be declared the top customer.
# Write a query that returns the person who spent the most money.
df = (
    datas["customers"]
    .merge(datas["invoices"], on="customer_id")
    .groupby("customer_id")
    .agg(
        total_spent=("total", "sum"),
        first_name=("first_name", "first"),
        last_name=("last_name", "first"),
    )
    .sort_values("total_spent", ascending=False)
)
df["customer"] = df["first_name"] + " " + df["last_name"]
df.drop(["first_name", "last_name"], axis="columns").iloc[0, :]

total_spent                   144.54
customer       František Wichterlová
Name: 5, dtype: object

In [8]:
# 6. Write a query to return the email, first name, last name of all rock music listeners.
# Return your list ordered alphabetically by email.

df = (
    datas["customers"]
    .merge(datas["invoices"], on="customer_id")
    .merge(datas["invoice_lines"], on="invoice_id")
    .merge(datas["tracks"], on="track_id")
    .merge(datas["genres"].query("name.str.contains('Rock')"), on="genre_id")
    .drop_duplicates(["customer_id"])
    .sort_values("email", ascending=True)
)
df

,customer_id,first_name,last_name,company,address,city,state,country,postal_code,phone,...,quantity,name_x,album_id,media_type_id,genre_id,composer,milliseconds,bytes,unit_price_y,name_y
18,32,Aaron,Mitchell,,696 Osborne Street,Winnipeg,MB,Canada,R3L 2B9,+1 (204) 452-6452,...,1,Love In An Elevator,5,1,1,"Steven Tyler, Joe Perry",321828,10552051,0.99,Rock
90,11,Alexandre,Rocha,Banco do Brasil S.A.,"Av. Paulista, 2022",São Paulo,SP,Brazil,01310-200,+55 (11) 3055-3278,...,1,The Trees,196,1,1,Geddy Lee And Alex Lifeson/Geddy Lee And Neil ...,285126,9345473,0.99,Rock
137,7,Astrid,Gruber,,"Rotenturmstraße 4, 1010 Innere Stadt",Vienne,,Austria,1010,+43 01 5134505,...,1,Who Are You (Single Edit Version),221,1,1,John Entwistle/Pete Townshend,299232,9900469,0.99,Rock
84,4,Bjørn,Hansen,,Ullevålsveien 14,Oslo,,Norway,171,+47 22 44 22 22,...,1,Think About You,90,2,1,,231640,3860275,0.99,Rock
101,39,Camille,Bernard,,"4, Rue Milton",Paris,,France,75009,+33 01 49 70 65 65,...,1,Anthem,196,1,1,Geddy Lee And Alex Lifeson/Geddy Lee And Neil ...,264515,8693343,0.99,Rock
5,8,Daan,Peeters,,Grétrystraat 63,Brussels,,Belgium,1000,+32 02 219 03 03,...,1,Dog Eat Dog,4,1,1,AC/DC,215196,7032162,0.99,Rock
365,56,Diego,Gutiérrez,,307 Macacha Güemes,Buenos Aires,,Argentina,1106,+54 (0)11 4311 4333,...,1,You Got Me Rocking,217,1,1,Jagger/Richards,205766,6734385,0.99,Rock
115,20,Dan,Miller,,541 Del Medio Avenue,Mountain View,CA,USA,94040-111,+1 (650) 644-3358,...,1,La Villa Strangiato,196,1,1,Geddy Lee And Alex Lifeson/Geddy Lee And Neil ...,577488,19137855,0.99,Rock
65,40,Dominique,Lefebvre,,"8, Rue Hanovre",Paris,,France,75002,+33 01 47 42 71 71,...,1,My Hero,82,1,1,"Dave, Taylor, Nate, Chris",260101,8472365,0.99,Rock
61,30,Edward,Francis,,230 Elgin Street,Ottawa,ON,Canada,K2P 1L7,+1 (613) 234-3322,...,1,Whole Lotta Rosie,4,1,1,AC/DC,323761,10547154,0.99,Rock
315,10,Eduardo,Martins,Woodstock Discos,"Rua Dr. Falcão Filho, 155",São Paulo,SP,Brazil,01007-010,+55 (11) 3033-5446,...,1,Any Colour You Like,183,1,1,"Gilmour, Mason, Wright, Waters",205740,6707989,0.99,Rock
77,33,Ellie,Sullivan,,5112 48 Street,Yellowknife,NT,Canada,X1A 1N6,+1 (867) 920-2233,...,1,Double Talkin' Jive,91,2,1,,203637,3520862,0.99,Rock
66,52,Emma,Jones,,202 Hoxton Street,London,,United Kingdom,N1 5LH,+44 020 7707 0707,...,1,My Hero,82,1,1,"Dave, Taylor, Nate, Chris",260101,8472365,0.99,Rock
133,50,Enrique,Muñoz,,C/ San Bernardo 85,Madrid,,Spain,28015,+34 914 454 454,...,1,Creep,206,1,1,R. DeLeo/Weiland,333191,10894988,0.99,Rock
1,13,Fernanda,Ramos,,Qe 7 Bloco G,Brasília,DF,Brazil,71020-677,+55 (61) 3363-5547,...,1,Nothingman,178,1,1,Jeff Ament & Eddie Vedder,278595,9107017,0.99,Rock
6,16,Frank,Harris,Google Inc.,1600 Amphitheatre Parkway,Mountain View,CA,USA,94043-1351,+1 (650) 253-0000,...,1,Dog Eat Dog,4,1,1,AC/DC,215196,7032162,0.99,Rock
7,24,Frank,Ralston,,162 E Superior Street,Chicago,IL,USA,60611,+1 (312) 332-3232,...,1,Dog Eat Dog,4,1,1,AC/DC,215196,7032162,0.99,Rock
4,5,František,Wichterlová,JetBrains s.r.o.,Klanova 9/506,Prague,,Czech Republic,14700,+420 2 4172 5555,...,1,Dog Eat Dog,4,1,1,AC/DC,215196,7032162,0.99,Rock
136,3,François,Tremblay,,1498 rue Bélanger,Montréal,QC,Canada,H2G 1A7,+1 (514) 721-4711,...,1,Who Are You (Single Edit Version),221,1,1,John Entwistle/Pete Townshend,299232,9900469,0.99,Rock
360,37,Fynn,Zimmermann,,Berger Straße 10,Frankfurt,,Germany,60316,+49 069 40598889,...,1,Eclipse,183,1,1,Waters,125361,4065299,0.99,Rock
119,36,Hannah,Schneider,,Tauentzienstraße 8,Berlin,,Germany,10789,+49 030 26550280,...,1,Fly By Night,196,1,1,Geddy Lee And Alex Lifeson/Geddy Lee And Neil ...,202318,6683061,0.99,Rock
23,6,Helena,Holý,,Rilská 3174/6,Prague,,Czech Republic,14300,+420 2 4177 0449,...,1,Hell Ain't A Bad Place To Be,4,1,1,AC/DC,254380,8331286,0.99,Rock
190,22,Heather,Leacock,,120 S Orange Ave,Orlando,FL,USA,32801,+1 (407) 999-7788,...,1,Big City Nights,257,2,1,,251865,4237651,0.99,Rock
88,46,Hugh,O'Reilly,,3 Chatham Street,Dublin,Dublin,Ireland,,+353 01 6792424,...,1,The Spirit Of Radio,196,1,1,Geddy Lee And Alex Lifeson/Geddy Lee And Neil ...,299154,9862012,0.99,Rock
231,43,Isabelle,Mercier,,"68, Rue Jouvence",Dijon,,France,21000,+33 03 80 73 66 99,...,1,All I Really Want,6,1,1,Alanis Morissette & Glenn Ballard,284891,9375567,0.99,Rock
148,17,Jack,Smith,Microsoft Corporation,1 Microsoft Way,Redmond,WA,USA,98052-8300,+1 (425) 882-8080,...,1,Spirit Walker,213,1,1,,230060,7555897,0.99,Rock
17,15,Jennifer,Peterson,Rogers Canada,700 W Pender Street,Vancouver,BC,Canada,V6C 1G8,+1 (604) 688-2255,...,1,Love In An Elevator,5,1,1,"Steven Tyler, Joe Perry",321828,10552051,0.99,Rock
53,34,João,Fernandes,,Rua da Assunção 53,Lisbon,,Portugal,,+351 (213) 466-111,...,1,Overdose,4,1,1,AC/DC,369319,12066294,0.99,Rock
15,51,Joakim,Johansson,,Celsiusg. 9,Stockholm,,Sweden,11230,+46 08-651 52 52,...,1,Exploder,10,1,1,Audioslave/Chris Cornell,206053,4948095,0.99,Rock
103,48,Johannes,Van der Berg,,Lijnbaansgracht 120bg,Amsterdam,VV,Netherlands,1016,+31 020 6223130,...,1,Anthem,196,1,1,Geddy Lee And Alex Lifeson/Geddy Lee And Neil ...,264515,8693343,0.99,Rock
206,23,John,Gordon,,69 Salem Street,Boston,MA,USA,2113,+1 (617) 522-1333,...,1,Mary Jane,6,1,1,Alanis Morissette & Glenn Ballard,280607,9163588,0.99,Rock
199,28,Julia,Barnett,,302 S 700 E,Salt Lake City,UT,USA,84102,+1 (801) 531-7272,...,1,Walk On Water,5,1,1,"Steven Tyler, Joe Perry, Jack Blades, Tommy Shaw",295680,9719579,0.99,Rock
41,21,Kathy,Chase,,801 W 4th Street,Reno,NV,USA,89503,+1 (775) 223-7665,...,1,Bad Boy Boogie,4,1,1,AC/DC,267728,8776140,0.99,Rock
71,9,Kara,Nielsen,,Sønder Boulevard 51,Copenhagen,,Denmark,1720,+453 3331 9991,...,1,Janie's Got A Gun,5,1,1,"Steven Tyler, Tom Hamilton",330736,10869391,0.99,Rock
142,45,Ladislav,Kovács,,Erzsébet krt. 58.,Budapest,,Hungary,H-1073,,...,1,She Sells Sanctuary,213,1,1,,253727,8368634,0.99,Rock
12,2,Leonie,Köhler,,Theodor-Heuss-Straße 34,Stuttgart,,Germany,70174,+49 0711 2842222,...,1,Exploder,10,1,1,Audioslave/Chris Cornell,206053,4948095,0.99,Rock
214,47,Lucas,Mancini,,"Via Degli Scipioni, 43",Rome,RM,Italy,192,+39 06 39733434,...,1,Put Your Lights On,46,1,1,E. Shrody,285178,9394769,0.99,Rock
0,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,...,1,Nothingman,178,1,1,Jeff Ament & Eddie Vedder,278595,9107017,0.99,Rock
195,57,Luis,Rojas,,"Calle Lira, 198",Santiago,,Chile,,+56 (0)2 635 4444,...,1,Big City Nights,257,2,1,,251865,4237651,0.99,Rock
44,58,Manoj,Pareek,,"12,Community Centre",Delhi,,India,110017,+91 0124 39883988,...,1,Bad Boy Boogie,4,1,1,AC/DC,267728,8776140,0.99,Rock
14,41,Marc,Dubois,,"11, Place Bellecour",Lyon,,France,69002,+33 04 78 30 30 30,...,1,Exploder,10,1,1,Audioslave/Chris Cornell,206053,4948095,0.99,Rock
21,55,Mark,Taylor,,421 Bourke Street,Sidney,NSW,Australia,2010,+61 (02) 9332 3633,...,1,Love In An Elevator,5,1,1,"Steven Tyler, Joe Perry",321828,10552051,0.99,Rock
31,31,Martha,Silk,,194A Chain Lake Drive,Halifax,NS,Canada,B3S 1C5,+1 (902) 450-0450,...,1,Go Down,4,1,1,AC/DC,331180,10847611,0.99,Rock
36,35,Madalena,Sampaio,,"Rua dos Campeões Europeus de Viena, 4350",Porto,,Portugal,,+351 (225) 022-448,...,1,Let There Be Rock,4,1,1,AC/DC,366654,12021261,0.99,Rock
76,18,Michelle,Brooks,,627 Broadway,New York,NY,USA,10012-2612,+1 (212) 221-3546,...,1,Double Talkin' Jive,91,2,1,,203637,3520862,0.99,Rock
96,14,Mark,Philips,Telus,8210 111 ST NW,Edmonton,AB,Canada,T6G 2C7,+1 (780) 434-4554,...,1,Xanadu,196,1,1,Geddy Lee And Alex Lifeson/Geddy Lee And Neil ...,667428,21753168,0.99,Rock
54,38,Niklas,Schröder,,Barbarossastraße 19,Berlin,,Germany,10779,+49 030 2141444,...,1,Overdose,4,1,1,AC/DC,369319,12066294,0.99,Rock
8,27,Patrick,Gray,,1033 N Park Ave,Tucson,AZ,USA,85719,+1 (520) 622-4200,...,1,Dog Eat Dog,4,1,1,AC/DC,215196,7032162,0.99,Rock
27,53,Phil,Hughes,,113 Lupus St,London,,United Kingdom,SW1V 3EN,+44 020 7976 5722,...,1,Hell Ain't A Bad Place To Be,4,1,1,AC/DC,254380,8331286,0.99,Rock
87,26,Richard,Cunningham,,2211 W Berry Street,Fort Worth,TX,USA,76110,+1 (817) 924-7272,...,1,The Spirit Of Radio,196,1,1,Geddy Lee And Alex Lifeson/Geddy Lee And Neil ...,299154,9862012,0.99,Rock
50,59,Rishabh,Mishra,,"3,Raj Bhavan Road",Bangalore,,India,560001,+91 080 22289999,...,1,Problem Child,4,1,1,AC/DC,325041,10617116,0.99,Rock
35,29,Robert,Brown,,796 Dundas Street West,Toronto,ON,Canada,M6J 1V1,+1 (416) 363-8888,...,1,Let There Be Rock,4,1,1,AC/DC,366654,12021261,0.99,Rock
95,12,Roberto,Almeida,Riotur,"Praça Pio X, 119",Rio de Janeiro,RJ,Brazil,20040-020,+55 (21) 2271-7000,...,1,Xanadu,196,1,1,Geddy Lee And Alex Lifeson/Geddy Lee And Neil ...,667428,21753168,0.99,Rock
264,49,Stanisław,Wójcik,,Ordynacka 10,Warsaw,,Poland,00-358,+48 22 828 37 39,...,1,Cochise,10,1,1,Audioslave/Chris Cornell,222380,5339931,0.99,Rock
10,54,Steve,Murray,,110 Raeburn Pl,Edinburgh,,United Kingdom,EH4 1HH,+44 0131 315 3300,...,1,Dog Eat Dog,4,1,1,AC/DC,215196,7032162,0.99,Rock
9,44,Terhi,Hämäläinen,,Porthaninkatu 9,Helsinki,,Finland,530,+358 09 870 2000,...,1,Dog Eat Dog,4,1,1,AC/DC,215196,7032162,0.99,Rock
13,19,Tim,Goyer,Apple Inc.,1 Infinite Loop,Cupertino,CA,USA,95014,+1 (408) 996-1010,...,1,Exploder,10,1,1,Audioslave/Chris Cornell,206053,4948095,0.99,Rock
2,25,Victor,Stevens,,319 N. Frances Street,Madison,WI,USA,53703,+1 (608) 257-0597,...,1,Nothingman,178,1,1,Jeff Ament & Eddie Vedder,278595,9107017,0.99,Rock
19,42,Wyatt,Girard,,"9, Place Louis Barthou",Bordeaux,,France,33000,+33 05 56 96 96 96,...,1,Love In An Elevator,5,1,1,"Steven Tyler, Joe Perry",321828,10552051,0.99,Rock

In [9]:
# 7. Let's invite the artists who have written the most rock music in our dataset.
# Write a query that returns the artist name and total track count of the top 10 rock artists.

df = (
    datas["tracks"]
    .merge(datas["genres"], on="genre_id")
    .merge(datas["albums"], on="album_id")
    .merge(datas["artists"], on="artist_id")
    .merge(datas["genres"].query("name.str.contains('Rock')"), on="genre_id", suffixes=("", "_g"))
    .groupby("name")
    .agg(total_tracks=("track_id", "count"))
    .sort_values("total_tracks", ascending=False)
    .reset_index()
    .iloc[:10, :]
)
df

                           name  total_tracks
0                  Led Zeppelin           114
1                            U2           112
2                   Deep Purple            92
3                   Iron Maiden            81
4                     Pearl Jam            54
5                     Van Halen            52
6                         Queen            45
7            The Rolling Stones            41
8  Creedence Clearwater Revival            40
9                          Kiss            35

In [10]:
# 8. Return all the track names that have a song length longer than the average song length.
# Return the name and milliseconds for each track.
# Order by the song length with the longest songs listed first.

avg_song_length = datas["tracks"]["milliseconds"].mean()
datas["tracks"][datas["tracks"]["milliseconds"] >= avg_song_length].sort_values(
    "milliseconds", ascending=False
)[["name", "milliseconds"]]

                                                   name  milliseconds
2819                             Occupation / Precipice       5286953
3223                            Through a Looking Glass       5088838
3243                        Greetings from Earth, Pt. 1       2960293
3241                            The Man With Nine Lives       2956998
3226                        Battlestar Galactica, Pt. 2       2956081
...                                                 ...           ...
1386                                   22 Acacia Avenue        395572
1863                                  The Unforgiven II        395520
1896                                 The Shortest Straw        395389
3412  Concerto for Clarinet in A Major, K. 622: II. ...        394482
805                                         Wicked Ways        393691

[494 rows x 2 columns]

In [11]:
# 9. Find how much amount spent by each customer on artists?
# Write a query to return customer name, artist name, and total spent.
df = datas["invoice_lines"].copy()
df["price_total"] = df["unit_price"] * df["quantity"]
df = (
    df.merge(datas["invoices"], on="invoice_id")
    .merge(datas["customers"], on="customer_id")
    .merge(datas["tracks"], on="track_id")
    .merge(datas["albums"], on="album_id")
    .merge(datas["artists"], on="artist_id", suffixes=("", "_a"))
    .groupby(["customer_id", "artist_id"])
    .agg(
        first_name=("first_name", "first"),
        last_name=("last_name", "first"),
        artist_name=("name_a", "first"),
        total_spent=("price_total", "sum"),
    )
)
df.reset_index(drop=True)

     first_name  last_name          artist_name  total_spent
0          Luís  Gonçalves                AC/DC         7.92
1          Luís  Gonçalves            Aerosmith         2.97
2          Luís  Gonçalves    Alanis Morissette         1.98
3          Luís  Gonçalves         Apocalyptica         0.99
4          Luís  Gonçalves           Audioslave         1.98
...         ...        ...                  ...          ...
2184    Rishabh     Mishra            Van Halen         0.99
2185    Rishabh     Mishra            Scorpions         0.99
2186    Rishabh     Mishra                 Cake         0.99
2187    Rishabh     Mishra  Christopher O'Riley         0.99
2188    Rishabh     Mishra        Amy Winehouse         0.99

[2189 rows x 4 columns]

In [12]:
# 10. We want to find out the most popular music genre for each country.
# We define the most popular genre as the genre with the highest number of track purchases.
# Write a query that returns each country along with the top genre.
# For countries where the maximum number of purchases is shared, return all genres.
df = datas["invoice_lines"].copy()
df["price_total"] = df["unit_price"] * df["quantity"]
df = (
    datas["invoice_lines"]
    .merge(datas["invoices"], on="invoice_id")
    .merge(datas["tracks"], on="track_id")
    .merge(datas["genres"], on="genre_id", suffixes=("", "_g"))
    .groupby(["billing_country", "genre_id"])
    .agg(
        country=("billing_country", "first"),
        genre_name=("name_g", "first"),
        nb_purchases=("track_id", "count"),
    )
)
df.reset_index(drop=True).groupby("country").agg(
    max_nb_purchases=("nb_purchases", "max")
).reset_index().merge(df, on="country").query("nb_purchases == max_nb_purchases").drop(
    ["max_nb_purchases"], axis="columns"
)

            country          genre_name  nb_purchases
2         Argentina  Alternative & Punk            17
10        Australia                Rock            34
21          Austria                Rock            40
29          Belgium                Rock            26
39           Brazil                Rock           205
52           Canada                Rock           333
67            Chile                Rock            61
78   Czech Republic                Rock           143
92          Denmark                Rock            24
98          Finland                Rock            46
111          France                Rock           211
125         Germany                Rock           194
139         Hungary                Rock            44
150           India                Rock           102
160         Ireland                Rock            72
172           Italy                Rock            35
182     Netherlands                Rock            33
193          Norway                Rock            40
202          Poland                Rock            40
211        Portugal                Rock           108
225           Spain                Rock            46
236          Sweden                Rock            60
245             USA                Rock           561
262  United Kingdom                Rock           166